.header_horizontal {
	width: calc(100% - 64px);
	height: 80px;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	left: 64px;
	box-shadow: 0px 2px 4px rgba(184, 184, 184, 0.5);
}

.box_search {
	height: inherit;
	width: 256px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 16px;
}

.box_search input {
	height: 40px;
	width: 100%;
	background: #ffffff;
	border: 1.4px solid rgba(58, 58, 58, 0.16);
	border-radius: 8px;
	padding: 0px 16px;
}

.box_search input::placeholder {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	padding-left: 28px;
	color: rgba(58, 58, 58, 0.16);
	background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS42IDNDOC42MTc2OCAzIDYuMjAwMDIgNS40MTc2NiA2LjIwMDAyIDguNEM2LjIwMDAyIDkuOTExMiA2LjgxOTQ3IDExLjI3NTkgNy44MjA4NSAxMi4yNTcyQzguNzk1ODMgMTMuMjEyNiAxMC4xMjgzIDEzLjggMTEuNiAxMy44QzE0LjU4MjQgMTMuOCAxNyAxMS4zODIzIDE3IDguNEMxNyA1LjQxNzY2IDE0LjU4MjQgMyAxMS42IDNaTTQuMjAwMDIgOC40QzQuMjAwMDIgNC4zMTMwOSA3LjUxMzExIDEgMTEuNiAxQzE1LjY4NjkgMSAxOSA0LjMxMzA5IDE5IDguNEMxOSAxMi40ODY5IDE1LjY4NjkgMTUuOCAxMS42IDE1LjhDOS45MzgyNSAxNS44IDguNDAzMjYgMTUuMjUxMyA3LjE2ODE5IDE0LjMyNjZMMi43MDA2NiAxOC43MTM1TDEuMjk5MzggMTcuMjg2NUw1Ljc0MjkyIDEyLjkyMzFDNC43NzYyMyAxMS42NzI4IDQuMjAwMDIgMTAuMTAzMSA0LjIwMDAyIDguNFoiIGZpbGw9IiNFMEUwRTAiLz4KPC9zdmc+Cg==')
		no-repeat;
}
