.box {
	width: 100%;
	min-height: 100%;
	height: auto;
	background-color: #ffffff;
	box-shadow: 0 0 4px rgba(184, 184, 184, 0.5);
	border-radius: 3px;
	padding: 24px 12px;
	display: grid;
	grid-template-rows: 32px 1fr;
	grid-column: 1fr;
	row-gap: 16px;
}

.menus_find {
	border-bottom: 2px solid #e0e0e0;
}

.table_list {
	padding: 0px 12px;
}

.table_content {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-flow: row;
	row-gap: 16px;
}

tbody.table_content {
	margin-top: 12px;
	grid-auto-rows: 40px;
}

.table_row {
	display: grid;
	grid-template-rows: 1fr;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	column-gap: 16px;
}

.table_col {
	display: grid;
	justify-content: center;
	align-self: center;
}

.table_col.actions {
	width: 164px;
	display: grid;
	grid-template-rows: 1fr;
	grid-auto-flow: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.button_action {
	background-color: var(--secondary-color);
	width: 32px;
	height: 32px;
	border: 0px;
	border-radius: 50%;
	padding: 6px;
}
